@tailwind base;
@tailwind components;
@tailwind utilities;

:where(.css-dev-only-do-not-override-1vjf2v5).ant-modal-root .ant-modal-mask {
  z-index: 9999 !important;
}

:where(.css-dev-only-do-not-override-1vjf2v5).ant-modal-root .ant-modal-wrap {
  z-index: 9999 !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: #02aaa0;
  border-radius: 999px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #018b83;
}
